@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@font-face {
    font-family: norse-bold;
    src: url('/assets/fonts/Norse-Bold.otf');
}

:root {
    --page-color: #F23AED
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}



main {
    display: flex;
    flex-direction: column;
}

#poster {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 24rem;
    background-image: url(./assets/images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    position: relative;
}

#logo {
    display: flex;
    background-color: rgba(0, 0, 0, 0.651);
    width: 100%;
    justify-content: center;
    align-items: center;
}

#logo > img {
    max-width: 4rem;
    padding: 10px;
}

#logo > p {
    color: white;
    font-family: 'norse-bold', 'Ubuntu', sans-serif;
    font-size: 4rem;
}

#footer {
    color: white;
    padding-bottom: 1rem;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    font-size: 0.8rem;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

#title {
    font-weight: 700;
    font-size: xx-large;
}

fieldset {
    border: none;
}

#input {
    font-size: 15px;
    margin: 8px;
    min-width: 15rem;
}

label {
    font-size: 1rem;
}

legend {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 1rem;
}

input {
    border-radius: 5px;
    border: 1px solid rgb(102, 103, 104);
    max-width: 15rem;
}

button {
    margin-top: 35px;
    padding: 10px 25px;
    border: none;
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 3px;
}

#user_password:invalid, #confirm_password:invalid {
    border: 1px solid red;
}

#log-in {
    font-size: 14px;
    font-weight: 700;
}

#log-in > a {
    color:#596D48;
    text-decoration: none;
}


/*
    when on desktop larger than 768px, switch to rows
*/
@media (min-width: 768px){
    main {
        flex-direction: row;
    }

    #poster {
        width: 40vw;
        height: 100vh;
    }

    #content {
        width: 60vw;
        height: 100vh;
    }

    #input-box {
        display: flex;
        width: 60vw;
        gap: 1rem;
    }

    button {
        width: 15rem;
    }
}

